/*******************************************************************************/
/***      Styles pour éviter le flash blanc lors du changement de page       ***/
/*******************************************************************************/
html {
    background-color: #212529;
    transition: opacity 1s ease-in-out;
    height: 100%;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.loaded {
    opacity: 1;
}

/* fix footer au bas de la page */
.sticky-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-footer main {
    flex: 1 0 auto;
}

.footer-container {
    flex-shrink: 0;
}

/* nav-link */

.nav-link:hover {
    color: #0d6efd !important;
    transition: color 1s ease;
}

.icon-link {
    color: #686868 !important;
    transition: color 1s ease;
}

.icon-link:hover {
    color: #0d6efd !important;
    transition: color 1s ease;
}

/* Masquer le contenu jusqu'a ce qu'il soit charge */
.page-transition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.page-transition.loaded {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.specialite {
    background-color: rgb(15, 112, 203);
}


/******************************************************************************/
/***                        Cartes Docteurs Style                           ***/
/******************************************************************************/
#doc-card {
    width: 288px;
    height: 465px;}

#doc-card-pic {
    height: 250px;
    object-fit: cover;
    /* border-radius: 25px; */
}
