.nav-link:hover {
    color: #0d6efd !important;
    transition: color 0.3s ease;
}

.icon-link {
    color: #686868 !important;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #0d6efd !important;
    transition: color 0.3s ease;
}

